
/* STATE */

.hideInMobile {
    display: flex;
}

.hideInDesktop {
    display: none;
}

/* MEDIA QUERY */

@media only screen and (max-width: 480px){
    
    .hideInMobile {
        display: none;
    }

    #headNav {
        display: none;
    }

    .hideInDesktop{
        display: flex;
    }

    .content-side-padding {
        padding: 8px 24px;
    }

    .footer-flex-content {
        flex-direction: column;
        gap: 24px;
    }

    .footer-underline {
        border-bottom: none;
    }

    .footer-gap-style {
        gap: 8px;
    }

    #volunteer-steps {
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin: 8px 16px;
    }

    .hero-img {
        width: 100%;
        position: relative;
        border-radius: 20px;
        max-width: 100%;
        overflow: hidden;
        height: 265px;
        flex-shrink: 0;
        object-fit: contain;
    }

    section {
        background: none;
    }

    h1,h2,h3,h4 {
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .home-page .flex-content p {
        border-left: none;
        padding-left: 0;
        width: 35ch;
    }

    .testimonies-grid {
        overflow: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .testimonies-card {
        width: 30ch;
        padding: 8px;
        border-radius: 10px;
        color: white;
        background: var(--fill-blue);
    }

    #testimonies-text {
        width: 40ch;
        max-width: 20ch;
        height: 12ch;
        overflow-wrap: break-word;
        word-wrap: break-word;
        white-space: normal;
        line-height: 1.5;

    }

    #filters {
        display: none;
    }

    #programs-grid {
        width: 100%;
    }

    .programs-grid .programs-card{
        display: flex;
        border: none;
        height: 100px;
        background: var(--events-mobile-background);
        justify-content: space-between;
        gap: 8px;
        border-radius: 10px;
        padding: 8px 16px;
    }

    .programs-card-image img {
        border-radius: 0;
        height: 100%;
        width: 100%;
    }

    .programs-card-content {
        width: 40ch;
        background: none;
        flex-direction: column-reverse;
    }

    .section-filled {
        background: none;
    }

    .event-card {
        flex-direction: row;
        gap: 16px;
        height: 100px;
        width: 100%;
        background: var(--events-mobile-background);
        border-radius: 10px;
        padding: 8px 16px;
    }

    .event-card img {
        border-radius: 0;
        height: 100%;
        width: 100%;
    }

    .event-image {
        width: 30%;
    }
   

}
