/* VARS */

:root {
    --logo-color: #1423FF !important;
    --fill-blue: #43D6FF !important;
    --test-1: #f1a61c;
    --footer-fill: #333;
    --testimoni-card: #FCFCF4;
    --background-color: #F9F8E9;
}

/* GLOBAL */

*, 
*::before, 
*::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto Condensed", sans-serif;
}

/* LAYOUT */

.column-flex {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content-side-padding {
    padding: 24px 80px;
}

.events-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 10px;
    align-self: stretch;
    flex-wrap: wrap;
}

.testimonies-grid {
    display: flex;
    padding: 16px 0px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 24px;
    align-self: stretch;
    flex-wrap: wrap;
}

.footer-flex-content {
    display: flex;
    height: fit-content;
    justify-content: space-between;
}

#nav-links {
    display: flex;
    justify-content: space-between;
    width: max-content;
    gap: 20px;
}

#footer-spacing > .footer-gap-style {
    justify-content: space-between;
    gap: 24px;
}

#headNav {
    display: flex;
    gap: 24px
}

.flex-content {
    display: flex;
    justify-content: space-between;
}

.home-page .flex-content p {
    width: 60ch;
    border-left: #333 solid 2px;
    padding-left: 24px;
}

.position-relative {
    position: relative;
}

#donation-buttons .flex-content button {
    width: 4ch;
}

#donate-action {
    align-items: center;
}

#donate-action button {
    width: 100%;
}

#donate-action input {
    width: 100%;
}

.div-side-img {
    object-fit: cover;
    width: 640px;
    height: 336px;
    overflow: hidden;
    flex-shrink: 0;
}

#programs-grid {
    
    /* padding: 16px 80px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 16px;
    align-self: stretch;
    flex-wrap: wrap;
}

#programs-buttons {
    padding: 0 80px;
    gap: 16px;
    justify-content: start;
}

.programs-grid {
    padding: 16px 80px;
}

/* NATIVE ELEMENT STYLE */

nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    color: white;
    background: var(--fill-blue);
    padding: 4px 8px;
    width: fit-content;
    
    /* FONT */
    font-family: "Roboto Condensed", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

footer {
    background: var(--footer-fill);
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    gap: 16px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: var(--background-color);
}

.section-filled {
    background: var(--fill-blue);
}

/* ELEMENTS */

.logo {
    color: var(--logo-color);
}

.hero-img {
    display: flex;
    height: 533px;
    padding: 24px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    align-self: stretch;
}

.home-page .hero-img{
    background: url(../resources/images/bike-edmonton-hero.jpg) lightgray 50% / cover no-repeat;
}

.support-page .hero-img {
    background: url(../resources/images/support-hero.jpg) lightgray 50% / cover no-repeat;
}

.event-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 16px;
    gap: 10px;
    align-items: start;
    background: white;
}

.event-card img {
    height: 170px;
}

.testimonies-card {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    background: var(--testimoni-card);
    width: 30%;
    height: fit-content;
}

.testimonies-card img {
    object-fit: cover;
    width: 100%;
    height: 334px;
    overflow: hidden;
    flex-shrink: 0;
}

.testimonies-card .small-body {
    width: 45ch;
}

.footer-underline {
    border-bottom: white 1px solid;
    text-transform: uppercase;
}

.footer-gap-style {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.donate-card {

    top: 15%;
    right: 80px;
    position: fixed;

    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 24px;
    justify-items: flex-start;
    height: fit-content;
    width: fit-content;

    border-radius: 20px;
    box-shadow: 0 5px 30px 1px black;
    background: white;
}

.donate-card p {
    width: 36ch;
}

.circle-card {
    
    justify-content: space-around;
    align-items: center;
    padding: 64px 48px 128px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background: var(--fill-blue);
    color: white;
}

.programs-card {
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    border: var(--footer-fill) 2px solid;
}

.programs-card-image img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    width: 250px;
    height: 180px;
    overflow: hidden;
}

.programs-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    height: 90px;
    width: 250px;
    padding: 16px;
    background: white;
}

.programs-icons {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 55%;
    left: 5%;
}

/* STATE */

.hideInMobile {
    display: flex;
}

.hideInDesktop {
    display: none;
}

